<!DOCTYPE html>
<html>
<head>
  <title>The Transformer Company</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>
<body>
  <h1>The Transformer Company</h1>
  <div ng-app='app'>
    <div class='content' ng-controller='transformerCtrl'>
      <h2>Add a Transformer</h2>
      <form ng-submit='addTransformer(faction, name, str, int, spd, end, rank, crg, fp, skill);'>
        <input type='radio' name='faction' ng-model='faction' value='autobot' checked>Autobot
        <input type='radio' name='faction' ng-model='faction' value='decepticon'>Decepticon
        <br>
        Name:<input id='transformerName' type='text' ng-model='name' placeholder='Enter transformer name'>
        <br>
        Strength:<input type='number' ng-model='str' min='1' max='10'>
        Intelligence:<input type='number' ng-model='int' min='1' max='10'>
        Speed:<input type='number' ng-model='spd' min='1' max='10'>
        Endurance:<input type='number' ng-model='end' min='1' max='10'>
        Rank:<input type='number' ng-model='rank' min='1' max='10'>
        Courage:<input type='number' ng-model='crg' min='1' max='10'>
        Firepower:<input type='number' ng-model='fp' min='1' max='10'>
        Skill:<input type='number' ng-model='skill' min='1' max='10'>
        <button type='submit'>Add Transformer</button>
      </form>
      <div id='autobots'>
        <h2>Autobots</h2>
        <table class='transformerTable'>
          <thead>
            <tr>              
              <th>Name</th>
              <th>Strength</th>
              <th>Intelligence</th>
              <th>Speed</th>
              <th>Endurance</th>
              <th>Rank</th>
              <th>Courage</th>
              <th>Firepower</th>
              <th>Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='autobot in data.autobots'>
              <td>{{autobot.name}}</td>
              <td>{{autobot.strength}}</td>
              <td>{{autobot.intelligence}}</td>
              <td>{{autobot.speed}}</td>
              <td>{{autobot.endurance}}</td>
              <td>{{autobot.rank}}</td>
              <td>{{autobot.courage}}</td>
              <td>{{autobot.firepower}}</td>
              <td>{{autobot.skill}}</td>
              <td><button ng-click='removeAutobot(autobot);'>Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id='decepticons'>
        <h2>Decepticons</h2>
        <table class='transformerTable'>
          <thead>
            <tr>              
              <th>Name</th>
              <th>Strength</th>
              <th>Intelligence</th>
              <th>Speed</th>
              <th>Endurance</th>
              <th>Rank</th>
              <th>Courage</th>
              <th>Firepower</th>
              <th>Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='decepticon in data.decepticons'>
              <td>{{decepticon.name}}</td>
              <td>{{decepticon.strength}}</td>
              <td>{{decepticon.intelligence}}</td>
              <td>{{decepticon.speed}}</td>
              <td>{{decepticon.endurance}}</td>
              <td>{{decepticon.rank}}</td>
              <td>{{decepticon.courage}}</td>
              <td>{{decepticon.firepower}}</td>
              <td>{{decepticon.skill}}</td>
              <td><button ng-click='removeDecepticon(decepticon);'>Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <button ng-click='battleTransformers();'>Battle!</button>
      <h2>Message Log</h2>
      <p ng-repeat='message in data.messages'>{{message}}</p>
      <h2>Battles Fought: {{data.numBattles}}</h2>
      <h2>Winning Team ({{data.winner}}): </h2>
      <p ng-repeat='winner in data.survivingWinners'>{{winner.name}}</p>
      <h2>Survivors from losing team ({{data.loser}}):</h2>
      <p ng-repeat='loser in data.survivingLosers'>{{loser.name}}</p>
    </div>
  </div>
</body>
</html>